{% extends 'base.html' %}
{% block content %}
  <h1>Recommended</h1>
  <hr>

  <h2 class="mb-3">Recent</h2>
  <div class="container">
    <div class="row g-4">
      {% for movie in recent_movies %}
        <div class="col">
          <div class="card">
            <img src="{{ movie.poster_path }}" class="card-img-top" alt="movie poster" style="height:10%">
            <div class="card-body">
              <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none"><h5 class="card-title">{{ movie.title }}</h5></a>
              <p class="card-text">개봉일 : {{ movie.release_date }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <hr>

  <h2 class="mb-3">Most popularity</h2>
  <div class="container">
    <div class="row g-4">
      {% for movie in popularity_movies %}
        <div class="col">
          <div class="card">
            <img src="{{ movie.poster_path }}" class="card-img-top" alt="movie poster" style="height:10%">
            <div class="card-body">
              <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none"><h5 class="card-title">{{ movie.title }}</h5></a>
              <p class="card-text">인기도 : {{ movie.popularity }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <hr>

  <h2 class="mb-3">Most voted</h2>
  <div class="container">
    <div class="row g-4">
      {% for movie in vote_movies %}
        <div class="col">
          <div class="card">
            <img src="{{ movie.poster_path }}" class="card-img-top" alt="movie poster" style="height:10%">
            <div class="card-body">
              <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none"><h5 class="card-title">{{ movie.title }}</h5></a>
              <p class="card-text">투표수 : {{ movie.vote_count }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
